## ide
**/.idea
*.iml
rebel.xml
**/.DS_Store
**/.trae
**/.vercel

jeecg-boot/jeecg-module-system/jeecg-system-start/uploads

## backend
**/target
**/logs

## front
**/*.lock
os_del.cmd
os_del_doc.cmd
.svn
derby.log
.cursor
.history
